*{
    background-color: black;
    font-family: 'Fruktur', cursive;
}
header {
    background-color: blue;
    color:#ffff;
    font-size: x-large;
    text-align: center;
    text-shadow: 2px 2px 3px rgb(12, 12, 39);
}

img {
    border: 8px solid gold;
}
figure {
    background-color:black;
}
    figcaption {
        color: #ffff;
        text-align: center;
        font-size: xx-large;
        text-shadow: 2px 2px 3px rgb(221, 21, 21);
}

main { display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
body {
    margin:0;
    padding:2em;
    border: 5px solid gold;
}