*{
    background-color: black;
    font-family: 'Fruktur', cursive;
}
header {
    background-color: blue;
    color:#ffff;
    font-size: x-large;
    text-align: center;
}

img {
    border: 8px solid gold;
}
figure {
    background-color:black;
}
    figcaption {
        color: #ffff;
        text-align: center;
        font-size: xx-large;
}

main { display: flex;
    flex-wrap: wrap;
    justify-content: center;
}