* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fruktur', cursive;
}
#navbar {
  position: fixed;
  background-color: #011140;
  width: 100%;
  background-image: url("images/background.jpg");
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 1rem;
  font-family: 'Fruktur', cursive;
}
/*980 px/ 16px= 61.25em */
@media (max-width: 980px) {
  html {
    scroll-behavior: smooth;
    font-size: 40%;
  }
}

.nav-list a {
  text-decoration: none;
  color: #f0f0f0;
  padding: 1.5rem;
  display: block;
  font-size: xx-large;
}
.nav-list a:hover {
  background-color:#0460d9;
}
#welcome-section {
  background-color:rgb(80, 137, 175);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#projects {
  width: 100%;
}

#projects-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
 
}

.dragon {
  height: 250px;
  width: auto;
  flex-wrap: wrap;
  display: flex;
}
.project-tile {
  margin: 2rem;
}
#contact {
  background-color: #d92e1e; background-color: #d92e1e;
  height: 20vh;
  justify-content: center;
  align-items: center;
  background-image: url("images/background.jpg");
}

#contact div a {
  width: 100%;
  justify-content: space-evenly;
}
h1 {
  color: #ffffff;
  font-family: 'Fruktur', cursive;
  font-size: 40px;
  text-shadow: 4px 4px 4px #1f1d59;
 
}
h2 {
  color: #ffffff;
  text-align: center;
  font-family: fantasy;
  text-shadow: 4px 4px 4px #1f1d59;
  font-size: x-large;
  font-family: 'Fruktur', cursive;
}
p {
  color: #ffffff;
  text-align: center;
  font-family: fantasy;
  text-shadow: 4px 4px 4px #1f1d59;
  font-size: x-large;
  font-family: 'Fruktur', cursive;
}
footer {
  color: #ffffff;
  font-family: 'Fruktur', cursive;
}
H4 {
  font-size: 40px;
  color: #dbdbdb;
  font-family: 'Fruktur', cursive;
  text-shadow: 4px 4px 4px#030303;
  text-align: center;
  
}
.phone {
  width: 50px;
  height: 50px;
}
.github {
  width: 50px;
  height: 50px;
}
.email {
  width: 50px;
  height: 50px;
}
.twitter {
  width: 50px;
  height: 50px;
}
.linkedin {
  width: 50px;
  height: 50px;
}
.icons:hover {
  background-color: #302b97;
  transform: scale(1.5);
}
.icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin:0 auto;
  background-color: white;
}
.caption {
  color: #ffffff;
  font-family: 'Fruktur', cursive;
  font-size: 25px;
}
.divicons{
  display:flex;
  justify-content: space-evenly;
}
img {
  box-shadow:1px 1px 2px 3px rgb(252, 250, 250);
}
body {
  background-color: #011140;
}
.caption:hover {
  color:rgb(80, 137, 175);
}
