* {
    margin: 0;
    box-sizing: border-box;
    
  }
  .pokeGrid {
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
    
  }
  
  .scene {
    width: 200px;
    height: 260px;
    margin: .5em;
    perspective: 600px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    box-shadow: black 1px 1px 2px 0px;
  }
  
  .cardFace {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  
  .front {
    background: rgb(211, 122, 189);
    border: solid black 2px;
    font-size: large;
    text-align: center;
  }

  .front img {
    width: 130px;
    height:auto; 
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .back {
    background: rgb(178, 236, 204);
    transform: rotateY(180deg);
    border:outset black 2px;
    font-size: x-large;
  }
  .back img {
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width:190px;
   height: auto;
  }
  
  figure img {
    width: 200px;
    outline: 2px solid white;
    outline-offset: -5px;
    background:silver;
  }
  body {
    background: rgb(188,161,221);
    background: linear-gradient(180deg, rgba(188,161,221,1) 0%, rgba(120,189,198,1) 53%, rgba(0,212,255,1) 100%);
      font-family: 'Caveat', cursive;
      color:white;  
      text-shadow: rgb(77, 74, 74) 2px 1px 1px ;
  }
  button{
      color:white;
      text-shadow: rgb(77, 74, 74) 2px 1px 1px ;
      background-color: rgb(0, 212, 255, 1) ;
      border-radius: 25px;
      width: 200px;
      height:40px;
      margin-left:10px;
    
      
    
  }
  h1 {
      font-size: 50px;
      margin-left:10px;
  }
