* {
    margin: 0;
    box-sizing: border-box;
   
   
  }
  
  header {
  font-family: 'Satisfy', cursive;
  font-size: 4em;
  text-align: center;
  text-shadow: 1px 1px 2px #ffffff;
 
  
  }
  footer {
    font-family: 'Satisfy', cursive;
    font-size: 2em;
    text-align: center;
    text-shadow: 1px 1px 2px #ffffff;
    
    }
  
  .mainContainer{
    display: flex;
    
  }
  
  .nav {
    margin-left: 2em;
  }
  
  section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .box {
    background-color: aqua;
    font-size: xx-large;
    text-align: center;
  }
  
  .shipName {
    font-size: xx-large;
    color:blue;
    text-shadow: 3px 3px rgb(110, 110, 194);
  }

  body{
    border-style: double;
    margin:0;
    padding:2em;
    border: 5px solid gold;
    background-color: black;
  }
li:hover{
color:white;

}
 a {
   color:white;
   font-size: x-large;
 }
a li {
  color:rgb(93, 93, 252);
}
 img {
   border: 2px solid rgb(141, 141, 141);
   border-radius:4px;
   opacity: 1;
   display: block;
   transition:.10s ease;
   backface-visibility: hidden;
   box-shadow: 5px 5px  rgb(49, 48, 48);
 }