* {
    margin: 0;
    box-sizing: border-box;
    background-color: black;
   
  }
  
  header, footer {
  font-family: 'Satisfy', cursive;
  font-size: xx-large;
  text-align: center;
  text-shadow: 1px 1px 2px #ffffff;
  
  }
  
  .mainContainer{
    display: flex;
    
  }
  
  .nav {
    margin-left: 2em;
  }
  
  section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .box {
    background-color: aqua;
    font-size: xx-large;
    text-align: center;
  }
  
  .shipName {
    font-size: xx-large;
    color:blue;
  }

  body{
    border-style: double;
    margin:0;
    padding:2em;
    border: 5px solid gold;
  }

 